.container {
    padding: 0 16px 16px 16px
}
.price {
    font-size: 2rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.thumbnails {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.thumb {
  width: 80px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid transparent;
}

.thumb:hover {
    opacity: 1;
}

.addToCartContent{
    margin-left: -16px;
    padding: 16px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    position: sticky;
    bottom: 0px;
    box-shadow: 0px -5px 10px rgb(172, 172, 172);
}

.selectButton, .quantityAndAddToCart {
    display: flex;
    justify-content:space-between;
}

.selectButton {
    margin-bottom: 20px;
}

.taille, .color, .quantity{
    border: 1px solid rgb(107, 107, 107);
    padding: 5px 10px;
    text-align: center;
    font-weight: 500;
    color:rgb(107, 107, 107);
    font-family: inherit;
    
}

.taille, .color{
    width: 48%;
}
.taille:focus-visible,
.taille:focus,
.taille:active, 
.color:focus-visible, 
.color:focus, 
.color:active{
    width: 48%;
    border: 3px solid rgb(107, 107, 107);
}
.quantity {
    display: flex;
    align-items: center;
    gap: 10px
}

.addToCart {
    color: white;   
    background-color: #B557FD;
    border-radius: 20px;
    padding: 0px 30px;
    width: 70%;
    font-family: jost;
    font-weight:500;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}

.addToCart:hover {
    background-color: #7c2cb9;
    box-shadow: 0 0 10px purple;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.modalUpdateCart{
    position: absolute;
    top:50vh;
    left:50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 6;
    background-color: rgb(215, 245, 215);
    min-width: 40%;
    padding: 5px 30px 50px;
    gap:20px;
    border: 1px solid green;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}
.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
/* .modalContent{
    padding: 20px;
} */
.modal{
    font-size: 1.2rem;
    font-weight: 500;
    color: green;
    text-align: center;
    /* position: relative; */
    /* transform: translate(15%,-40%); */
}
.CTAClose {
    /* display: flex; */
    color: green;
    position: relative;
    gap: 20px
}
.btnClose{
    font-size: 1.2rem;
    font-weight: 900;
}
.txtClose {
    font-size:0.8rem;
    font-weight: 500;
}

@media (min-width: 504px) {
  .main {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
  }
  .addToCartContent{
    padding-left: 16px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    /* bottom: 0px; */
    box-shadow: none
}
.gallery, .container{
    max-width: 50vw;
}
.gallery{
    margin-left: 16px;
}
.title {
 margin-top: 0;
}
}
